{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="wrapper">
    <!-- Page Content  -->
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 auth-box">
                    <div class="proclinic-box-shadow">
                        <h3 class="widget-title">Login</h3>
                        <form class="widget-form" method="POST">
                            {% csrf_token %}
                            <!-- form-group -->
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    {{ form.username }}
                                    {% for error in form.username.errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- /.form-group -->

                            <!-- form-group -->
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    {{ form.password }}
                                    {% for error in form.password.errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- /.form-group -->

                            <!-- Check Box -->        
                            <div class="form-check row">
                                <div class="col-sm-12 text-left">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="ex-check-2">
                                        <label class="custom-control-label" for="ex-check-2">Remember Me</label>
                                    </div>
                                </div>
                            </div>
                            <!-- /Check Box -->    
                            <!-- Login Button -->            
                            <div class="button-btn-block">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                            </div>
                            <!-- /Login Button -->    
                            <!-- Links -->    
                            <div class="auth-footer-text">
                                <small>New User,
                                    <a href="{% url 'register' %}">Sign Up</a> Here</small>
                            </div>
                            <!-- /Links -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content  -->
</div>

{% endblock %}
